 <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Machool Interview</title>

  <!-- Bootstrap CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <!-- Font Awesome -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <!-- My Custom CSS -->
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
</head>
<body>
  <div class="row">
  <h1 class='text-center'>Send a Package</h1>
  <hr />
    <div class="col-md-4 col-md-offset-1">
      <form action='/' method='post' class="form-horizontal" role="form">
        <fieldset>

          <!-- Form Name -->
          <legend>Shipping to</legend>
          <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">Name</label>
            <div class="col-sm-10">
              <input name='toName' type="text" placeholder="Name" class="form-control" value='Lupe M Butterfield'>
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">Company</label>
            <div class="col-sm-10">
              <input name='toCompany' type="text" placeholder="Company Ltd." class="form-control" value='Butterfield Ltd.'>
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">Phone Number</label>
            <div class="col-sm-10">
              <input name='toPhone' type="text" placeholder="123-456-7890" class="form-control" value='1234567890'>
            </div>
          </div>
          <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">Line 1</label>
            <div class="col-sm-10">
              <input name='toLine1' type="text" placeholder="Address Line 1" class="form-control" value='2996 Boulevard Laflèche'>
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">Line 2</label>
            <div class="col-sm-10">
              <input name='toLine2' type="text" placeholder="Address Line 2" class="form-control">
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">City</label>
            <div class="col-sm-10">
              <input name='toCity' type="text" placeholder="City" class="form-control" value='Rimouski'>
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">Province/State Code</label>
            <div class="col-sm-4">
              <input name='toProvinceCode' type="text" placeholder="State" class="form-control" value='QC'>
            </div>

            <label class="col-sm-2 control-label" for="textinput">Postcode</label>
            <div class="col-sm-4">
              <input name='toPostcode' type="text" placeholder="Post Code" class="form-control" value='G5L7E4'>
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">Country Code</label>
            <div class="col-sm-10">
              <input name='toCountryCode' type="text" placeholder="Country" class="form-control" value='CA'>
            </div>
          </div>

        </fieldset>

    </div><!-- /.col-lg-12 -->
    <div class="col-md-4 col-md-offset-2">
      <div class="form-horizontal" >
        <fieldset>

          <!-- Form Name -->
          <legend>Shipping from</legend>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">Name</label>
            <div class="col-sm-10">
              <input name='fromName' type="text" placeholder="Name" class="form-control" value='Daniel R Baskin'>
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">Company</label>
            <div class="col-sm-10">
              <input name='fromCompany' type="text" placeholder="Company Ltd." class="form-control" value='Baskin Corp'>
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">Phone Number</label>
            <div class="col-sm-10">
              <input name='fromPhone' type="text" placeholder="123-456-7890" class="form-control" value='1234567890'>
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">Line 1</label>
            <div class="col-sm-10">
              <input name='fromLine1' type="text" placeholder="Address Line 1" class="form-control" value='4813 Bay Street'>
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">Line 2</label>
            <div class="col-sm-10">
              <input name='fromLine2' type="text" placeholder="Address Line 2" class="form-control">
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">City</label>
            <div class="col-sm-10">
              <input name='fromCity' type="text" placeholder="City" class="form-control" value='Toronto'>
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">Province/State Code</label>
            <div class="col-sm-4">
              <input name='fromProvinceCode' type="text" placeholder="State" class="form-control" value='On'>
            </div>

            <label class="col-sm-2 control-label" for="textinput">Postcode</label>
            <div class="col-sm-4">
              <input name='fromPostcode' type="text" placeholder="Post Code" class="form-control" value='M5J2R8'>
            </div>
          </div>


          <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">Country Code</label>
            <div class="col-sm-10">
              <input name='fromCountryCode' type="text" placeholder="Country Code" class="form-control" value='CA'>
            </div>
          </div>

        </fieldset>
      </div>
  </div><!-- /.row -->
  <div class='row'>
    <div class='col-sm-offset-3 col-sm-6'>
      <fieldset>

        <div class="form-group">
          <label class="col-sm-2 control-label" for="textinput">Weight (lbs)</label>
          <div class="col-sm-10">
            <input name='weight' type="text" placeholder="Weight" class="form-control" value='50.0'>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label" for="textinput">Length (In.)</label>
          <div class="col-sm-10">
            <input name='length' type="number" placeholder="Length" class="form-control" value='108'>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label" for="textinput">Width (In.)</label>
          <div class="col-sm-10">
            <input name='width' type="number" placeholder="Width" class="form-control" value='5'>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label" for="textinput">Height (In.)</label>
          <div class="col-sm-10">
            <input name='height' type="number" placeholder="Height" class="form-control" value='5'>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <div class="pull-right">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </div>
      </fieldset>

    </div>
  </div>
  </form>

</body>
</html>